
*{
  font-family: sans-serif;
}

#background {
  background-image: url(images\the-simpsons.jpg);
  object-fit: cover;

}

#donutCounter {
  padding: 5px;
  max-width: 150px;
  display: flex;
  position: relative;
  margin-left: 15.4rem;
  object-fit: cover;
}

#donut {
  font-size: ;
  position: relative;
  margin-bottom: 10px;
  font-size: 2.1rem;
}

#donutCount {
  position: relative;
  margin-bottom: 1px;
}

ul {
  display: flex;
  justify-content: center;

  list-style-type: none;
  

  padding: 3px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 20rem;
  margin-left: 20rem;
}

li {
  float: left;
  margin: 0.5rem;
}

li a,
.dropbtn {
  display: inline-block;
  margin-right: 0.5rem;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(234, 26, 144);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10px;
  box-shadow: 0px 8px 8px 0px;
  z-index: 1;
  margin-right: 30rem;
}

.dropdown-content a {
  color: white;
  padding: 12px 16 px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-right: 0rem;
}

.dropdown-content2 {
  display: none;
  background-color: black;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  min-width: 10px;
  box-shadow: 0px 8px 8px 0px;
  z-index: 1;
  margin-right: 30rem;
}

.dropdown-content2 a {
  color: white;
  padding: 12px 16 px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-right: 0rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;

  position: relative;
  bottom: 50%;
}

#about {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  margin-left: 20rem;
  margin-right: 20rem;
}

#about {
  margin: 4rem;
}

#about,
h3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  margin-left: 30rem;
  margin-right: 30rem;
  margin-bottom: -5rem;
  padding: 0.5rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 25px;
  border-radius: 1.5rem;
}

article {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 6rem;
  margin-left: 17rem;
  margin-right: 17rem;
  padding: 2rem;
  border-radius: 3rem;
}

#autoClicker {
  margin-left: 14rem;
  margin-right: 14rem;
  font-weight: 600;
  border-radius: 3rem;
  border:none;

}

#donutMultiClicker {
  margin-left: 14rem;
  margin-right: 14rem;
  font-weight: 600;
  border-radius: 3rem;
  border:none;
}

#resetDonutMaker {
  margin-top: 2rem;
  margin-left: 14rem;
  margin-right: 14rem;
  font-weight: 600;
  border-radius: 3rem;
  border:none;

}

#logo {
  position: relative;
  margin-left: 37rem;
  padding-bottom: -4rem;
}
#aboutTheGame,
h3 {
  margin-left: 30rem;
  margin-right: 30rem;
  margin-bottom: -5rem;
  padding: 0.5rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 25px;
  border-radius: 1.5rem;
}

#howToPlay {
  font-size: 20px;
  margin-left: 30rem;
  margin-right: 30rem;
}

#donutMaker,
h3 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  margin-left: 30rem;
  margin-right: 30rem;
  padding: 0.5rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 25px;
  border-radius: 1.5rem;
}

#theGame {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  font-size: -2rem;

  margin: 4rem;

  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: none;
  margin-left: 30%;
  margin-right: 30%;

  text-align: center;
  border-radius: 3rem;

  position: relative;

  bottom: -1000%;
}

#donutCount {
  font-size: 20px;
}

#autoClickerCount {
  font-size: 20px;
}

#donutMultiCount {
  font-size: 20px;
}

#myBtn{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
}

.modal {
  display: none;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top:0;
  width:40%;
  height: 50%;
  border-radius: 3rem;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 0px;
  width: 88%;
  color: white;
}

.close {
  color: #aaa;
  float: right;
  font-size:28px;
  font-weight: bold;

}

.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fabfa-github{
  background-color: rgb(234, 26, 144)
}

@media only screen and (min-width: 768){
  .container{
    display: flex;
    justify-content: center;
  }

  #theGame {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    font-size: -2rem;
  
    margin: 1rem;
  
    padding-bottom: 3rem;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: none;
    margin-left: 20rem;
    margin-right: 0%;
  
    text-align: center;
    border-radius: 3rem;
  
    position: relative;
  
    bottom: 0%;
  }

  #aboutTheGame,h3 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 15px;
  border-radius: 1.5rem;
}



  
}